################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Goods.Api/Logs/*
/Goods.Api/bin/*
/Goods.Api/obj/*
/Core/obj
/Core/bin/Debug/net10.0
/.vs
/ConsoleAppEventBusTest/bin/Debug/net10.0
/ConsoleAppEventBusTest/obj
/EventBus.AzureServiceBus/bin/Debug/net10.0
/EventBus.AzureServiceBus/obj
/EventBus.Base/bin/Debug/net10.0
/EventBus.Base/obj
/EventBus.Factory/bin/Debug/net10.0
/EventBus.Factory/obj
/EventBus.RabbitMQ/bin/Debug/net10.0
/EventBus.RabbitMQ/obj
/Payment.Api/bin/Debug/net10.0
/Payment.Api/obj
/NotificationApp/bin/Debug/net10.0
/NotificationApp/obj
/Identity.Api/bin/Debug/net10.0
/Identity.Api/obj
